.brochure_body_cls{
    background: $light-grey;
    padding: 0;
}
.brochure_header_row{
    background: $secondary-color;
    text-align: center;
    padding: 20px 0;
    img{
        margin-bottom: 20px;
    }
    h1{
        font: 2.5rem/2.875rem $Slabo;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p{
        font: 400 1rem/1.5rem $Roboto-Regular;
        color: $white-color;
        margin-bottom: 20px;
    }
}
.brochure_testimonial_row{
    text-align: center;
    padding: 0 0 60px;
    p{
        font: 400 1.25rem/1.875rem $Roboto-Regular;
        background: #C8C7C8;
        padding: 50px 10px;
        font-style: italic;
        span{
            display: block;
            font: 400 1rem/1.5rem $Roboto-Regular;
            margin-top: 10px;
        }
    }
}
.brochure_footer_row{
    background: $secondary-color;
    color: $white-color;
    text-align: center;
    padding: 50px 0;
    p{
        font: 400 1rem/1.5rem $Roboto-Regular;
        color: $white-color;
        margin-bottom: 20px;
        a{
            color: $white-color;
        }
    }
}