
// Color variables
$primary-color: #8aad56;
$secondary-color: #333132;
$font-color: #231f20;
$white-color: #ffffff;
$primary-hover-color: #779e3e;
$light-grey:#434142;
$dark-grey:#252525;
$light-dark-grey:#333132;
$footer-color: #231f20;
$footer-icon-color: #231f20;
$validatn-color: #dc3545;

//Font variables
$Roboto-Regular: 'Roboto', sans-serif;
$Roboto-Light: 'Roboto', sans-serif;
$Slabo: 'Slabo 27px', serif;
