a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}

.carousel-slider {
    height: 400px;
}

.thumbnail {
    position: relative;
    padding: 12px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.no-underline-link {
    text-decoration: none;
}

.carousel .slide .legend {
    position: unset !important;
    margin-left: 4% !important;
    margin-top: revert;
    background: none !important;
    height: auto !important;

}

/* .carousel-slider {
    height: auto !important;
}

.control-dots {
    display: none;
} */

.carousel-slider {
    height: auto !important;
}










.header_blk_row .header_blk_inr section.header_item_left .header_drpdown.dropdown .react-select-container .react-select {
    max-height: 18px;
}

.react-select__control {
    min-height: auto;
    background: transparent;
    border: none !important;
    padding: 0;
    background: #101010 !important;
    /* border-radius: 4px !important; */
}

.react-select__indicator-separator {
    display: none;
}

.country-option {
    display: inline-block;
    padding-right: 20px;
    padding-left: 2px;
    position: relative;
    cursor: pointer;
    top: 2px;
}

.country-option::after {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shapeRendering='geometricPrecision' textRendering='geometricPrecision' image-rendering='optimizeQuality' fillRule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fillRule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 6px;
    position: absolute;
    width: 13px;
    background-size: 13px !important;
    height: 8px;
    border-bottom: none !important;
    border-left: none !important;
    content: "";
}

.country-option img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
}

.country-option span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

input .react-select__input-container {
    caret-color: transparent;
    min-width: 110px !important;
    cursor: pointer;
    max-height: 18px;
    border: none;
}

input .react-select__input-container:hover {
    border: none;
}

.react-select__indicators {
    padding: 0;
}

.react-select__dropdown-indicator {
    display: none !important;
}

.react-select__single-value {
    margin: 0;
}

.react-select__menu {
    margin: 0;
    position: absolute;
    z-index: 1;
}

.country-option::after .react-select__menu {
    display: none;
}

.country-option .react-select__menu {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    top: 0;
}

.react-select-container {
    max-height: 18px;
    border: none;
}



.header_blk_row .header_blk_inr section.header_item_left .header_drpdown.dropdown {
    max-height: 18px;
}

.react-select__control {
    min-height: auto;
    background: transparent;
    border: none;
}

.react-select__indicator-separator {
    display: none;
}

.country-option {
    display: inline-block;
    padding-right: 20px;
    padding-left: 2px;
    position: relative;
    cursor: pointer;
    top: 2px;
}

.country-option::after {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shapeRendering='geometricPrecision' textRendering='geometricPrecision' image-rendering='optimizeQuality' fillRule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fillRule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 6px;
    position: absolute;
    width: 13px;
    background-size: 13px !important;
    height: 8px;
    border-bottom: none !important;
    border-left: none !important;
    content: "";
}

.country-option img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
}

.country-option span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

.react-select__value-container {
    padding: 0;
}

.react-select__input-container {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    line-height: 11px;
}

.react-select__input-container input {
    caret-color: transparent;
    min-width: 110px !important;
    cursor: pointer;
    max-height: 18px;
}

.react-select__dropdown-indicator {
    padding: 0;
}

.react-select__indicators {
    display: none;
}

.react-select__single-value {
    margin: 0;
}

.react-select__menu {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.react-select__menu-list {
    padding: 0;
    background: #101010;
    border-radius: 0;
}

.react-select__menu-list>div {
    padding: 0;
    background-color: transparent;
}

.react-select__option--is-selected {
    background-color: #8aad56;
}

.react-select__option:hover,
.react-select__option:active {
    background-color: #8aad56 !important;
}

.react-select__menu .country-option::after {
    display: none;
}

.react-select__menu .country-option {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    top: 0;
}


.header_blk_row .header_blk_inr section.header_item_left .header_drpdown.dropdown {
    max-height: 18px;
}

.react-select__control {
    min-height: auto !important;
    background: transparent !important;
    border: none !important;
}

.react-select__indicator-separator {
    display: none;
}

.country-option {
    display: inline-block;
    padding-right: 20px;
    padding-left: 2px;
    position: relative;
    cursor: pointer;
    top: 2px;
}

.country-option::after {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fill-rule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 6px;
    position: absolute;
    width: 13px;
    background-size: 13px !important;
    height: 8px;
    border-bottom: none !important;
    border-left: none !important;
    content: "";
}

.country-option img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
}

.country-option span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    float: left;
    font: 0.75rem/1.125rem 'Slabo 27px', serif !important;
}

.react-select__value-container {
    padding: 0 !important;
}

.react-select__input-container {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    line-height: 11px;
}

.react-select__input-container input {
    caret-color: transparent;
    min-width: 110px !important;
    cursor: pointer;
    max-height: 18px;
}

.react-select__dropdown-indicator {
    padding: 0;
}

.react-select__indicators {
    display: none;
}

.react-select__single-value {
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.react-select__menu {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 5px !important;
}

.react-select__menu-list {
    padding: 0;
    background: #101010;
    border-radius: 0;
}

.react-select__menu-list>div {
    padding: 0;
    background-color: transparent;
}

.react-select__option--is-selected {
    background-color: #8aad56;
}

.react-select__option:hover,
.react-select__option:active {
    background-color: #8aad56 !important;
}

.react-select__menu .country-option::after {
    display: none;
}

.react-select__menu .country-option {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    top: 0;
}

.react-select-container {
    display: flex;
    align-items: center;
}






/* dropdown CSS change 
.select__control{
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    color: #fff;
    height: 40px;
}

.select__control{
    min-height: 40px;
}
.select__placeholder {
    color: #fff;
}

.select__value-container{
    padding: 0 0 0 5px;
    display: flex;
}
.select__multi-value__label{
    font-size: 16px;
    line-height: 24px;
}

.select__indicator.select__clear-indicator, .select__input-container  {
    display: none;
}

.select__multi-value:nth-child(1){
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 0;
    margin-right: 5px;
    border-radius: 4px;
}
.select__multi-value:nth-child(1) .select__multi-value__label + .select__multi-value__remove{
    display: none;
}
.select__multi-value__label{
    color: #fff;
}

.select__control{
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    color: #fff;
    height: 40px;
}

.select__control{
    min-height: 40px;
}
.select__placeholder {
    color: #fff;
}

.select__value-container{
    padding: 0 0 0 5px;
    display: flex;
    width: calc(100% - 37px);
    overflow: hidden;
}
.select__multi-value__label{
    font-size: 16px;
    line-height: 28px;
}

.select__indicator.select__clear-indicator, .select__input-container, .select__indicator-separator{
    display: none;
}

.select__multi-value:nth-child(n+2){
    background: #8aad56;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    margin-right: 5px;
    border-radius: 4px;
}
.select__multi-value__remove{
    padding: 0 5px;
}
.select__menu {
    margin: 0;
    border-radius: 0;
    background: #333132;
}
.select__option{
    font-size: 16px;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
}
.select__option:hover, .select__option:focus, .select__option:active, .select__option--is-focused {
    background-color: #8aad56;
    color: #000;
}
.select__indicators{
    background: #333132;
    cursor: pointer;
}

.dropdown_grp_blk{
    width: calc(100% - 160px);
    float: left;
    margin-left: -10px;
}

.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk{
    padding-bottom: 15px;
    width: calc(100% - 66.7%);
    max-width: 100%;
    float: left;



// SOF Country, property and month dropdown scss
    // font: 400 0.875rem/1rem $Roboto-Regular;
.select__control{
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #fff !important;
    color: #fff !important;
    height: 40px !important;
}

.select__control{
    min-height: 40px;
}
.select__placeholder {
    color: #fff;
}

.select__value-container{
    padding: 0 0 0 5px;
    display: flex;
}
.select__multi-value__label{
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    padding: 0 !important;
}

.select__indicator.select__clear-indicator, .select__input-container  {
    display: none;
}

.select__multi-value:nth-child(1){
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 0;
    margin-right: 5px;
    border-radius: 4px;
}
.select__multi-value:nth-child(1) .select__multi-value__label + .select__multi-value__remove{
    display: none;
}
.select__multi-value__label{
    color: #fff;
}

.select__control{
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    color: #fff;
    height: 40px;
}

.select__control{
    min-height: 40px;
}
.select__placeholder {
    color: #fff;
}

.select__value-container{
    padding: 0 0 0 5px !important;
    display: flex !important;
    width: calc(100% - 37px) !important;
    overflow: hidden !important;
}
.select__multi-value__label{
    font-size: 16px !important;
    color: #fff !important;
    line-height: 28px;
}

.select__indicator.select__clear-indicator, .select__input-container, .select__indicator-separator{
    display: none;
}

.select__multi-value:nth-child(n+2){
    background: #8aad56;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    margin: 0;
    margin-right: 5px;
    border-radius: 4px;
    min-width: auto !important;
}
.select__multi-value__remove{
    padding: 0 5px;
}
.select__menu {
    margin: 0 !important;
    border-radius: 0 !important;
    background: #333132 !important;
}
.select__option{
    font-size: 16px !important;
    padding: 8px 10px !important;
    color: #fff !important;
    cursor: pointer !important;
}
.select__option:hover, .select__option:focus, .select__option:active, .select__option--is-focused {
    background-color: #8aad56 !important;
    color: #000 !important;
}
.select__indicators{
    background: #333132 !important;
    cursor: pointer !important;
}

.dropdown_grp_blk{
    width: calc(100% - 160px);
    float: left;
    margin-left: -10px;
    // display: flex;
}

.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk{
    padding-bottom: 15px;
    width: calc(100% - 66.7%);
    max-width: 100%;
    float: left;
    // flex: 1;
}
.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk:nth-child(n+2){
    padding-left: 10px;
}
.select__dropdown-indicator{
    position: relative;
    width: 37px;
    padding: 0;
    height: 38px;
}
.select__dropdown-indicator > svg{
    display: none;
}
.select__dropdown-indicator::after{
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fill-rule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    width: 20px;
    background-size: 20px !important;
    height: 11px;
    border-bottom: none !important;
    margin: auto;
    border-left: none !important;
    left: 0;
    bottom: 0;
}
.destination_dropdwn_row .dropdown_grp_blk + .banner_inspire_btn{
    min-width: 170px;
}
// EOF Country, property and month dropdown scss}
.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk:nth-child(n+2){
    padding-left: 10px;
}
.select__dropdown-indicator{
    position: relative;
    width: 37px;
    padding: 0;
    height: 38px;
}
.select__dropdown-indicator > svg{
    display: none;
}
.select__dropdown-indicator::after{
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fill-rule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    width: 20px;
    background-size: 20px !important;
    height: 11px;
    border-bottom: none !important;
    margin: auto;
    border-left: none !important;
    left: 0;
    bottom: 0;
}
.destination_dropdwn_row .dropdown_grp_blk + .banner_inspire_btn{
    min-width: 170px;
}*/


.select__control {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #fff !important;
    color: #fff !important;
    height: 40px !important;
}

.select__control {
    min-height: 40px;
}

.select__placeholder {
    color: #fff;
}

.select__value-container {
    padding: 0 0 0 5px;
    display: flex;
}

.select__multi-value__label {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    padding: 0 !important;
}

.select__indicator.select__clear-indicator,
.select__input-container {
    display: none;
}

.select__multi-value:nth-child(1) {
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 0;
    margin-right: 5px;
    border-radius: 4px;
}

.select__multi-value:nth-child(1) .select__multi-value__label+.select__multi-value__remove {
    display: none;
}

.select__multi-value__label {
    color: #fff;
}

.select__control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    color: #fff;
    height: 40px;
}

.select__control {
    min-height: 40px;
}

.select__placeholder {
    color: #fff;
}

.select__value-container {
    padding: 0 0 0 5px !important;
    display: flex !important;
    width: calc(100% - 37px) !important;
    overflow: hidden !important;
    flex-wrap: nowrap !important;
}

.select__multi-value__label {
    font-size: 16px !important;
    color: #fff !important;
    line-height: 28px;
}

.select__indicator.select__clear-indicator,
.select__input-container,
.select__indicator-separator {
    display: none;
}

.select__multi-value:nth-child(n+2) {
    background: #8aad56;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    margin: 0;
    margin-right: 5px;
    border-radius: 4px;
    min-width: auto !important;
}

.select__multi-value__remove {
    padding: 0 5px;
}

.select__menu {
    margin: 0 !important;
    border-radius: 0 !important;
    background: #333132 !important;
}

.select__option {
    font-size: 16px !important;
    padding: 8px 10px !important;
    color: #fff !important;
    cursor: pointer !important;
}

.select__option:hover,
.select__option:focus,
.select__option:active,
.select__option--is-focused {
    background-color: #8aad56 !important;
    color: #000 !important;
}

.select__indicators {
    background: #333132 !important;
    cursor: pointer !important;
}

.dropdown_grp_blk {
    width: calc(100% - 160px);
    float: left;
    margin-left: -10px;
}

.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk {
    padding-bottom: 15px;
    width: calc(100% - 66.7%);
    max-width: 100%;
    float: left;
}

.destination_dropdwn_row .dropdown_grp_blk .banner_dropdwn_blk:nth-child(n+2) {
    padding-left: 10px;
}

.select__dropdown-indicator {
    position: relative;
    width: 37px;
    padding: 0;
    height: 38px;
}

.select__dropdown-indicator>svg {
    display: none;
}

.select__dropdown-indicator::after {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fill-rule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
    content: "";
    width: 20px;
    background-size: 20px !important;
    height: 11px;
    border-bottom: none !important;
    margin: auto;
    border-left: none !important;
    left: 0;
    bottom: 0;
}

.destination_dropdwn_row .dropdown_grp_blk+.banner_inspire_btn {
    min-width: 170px;
}