a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}

.carousel-slider {
    height: 400px;
}

.thumbnail {
    position: relative;
    padding: 12px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.no-underline-link {
    text-decoration: none;
}

.carousel .slide .legend {
    position: unset !important;
    margin-left: 4% !important;
    margin-top: revert;
    background: none !important;
    height: auto !important;

}

/* .carousel-slider {
    height: auto !important;
}

.control-dots {
    display: none;
} */

.carousel-slider {
    height: auto !important;
}










.header_blk_row .header_blk_inr section.header_item_left .header_drpdown.dropdown .react-select-container .react-select {
    max-height: 18px;
}

.react-select__control {
    min-height: auto;
    background: transparent;
    border: none !important;
    padding: 0;
    background: #101010 !important;
    /* border-radius: 4px !important; */
}

.react-select__indicator-separator {
    display: none;
}

.country-option {
    display: inline-block;
    padding-right: 20px;
    padding-left: 2px;
    position: relative;
    cursor: pointer;
    top: 2px;
}

.country-option::after {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' fill='white' width='20' viewBox='0 0 512 266.77'%3e%3cpath fill-rule='nonzero' d='M493.12 3.22c4.3-4.27 11.3-4.3 15.62-.04a10.85 10.85 0 0 1 .05 15.46L263.83 263.55c-4.3 4.28-11.3 4.3-15.63.05L3.21 18.64a10.85 10.85 0 0 1 .05-15.46c4.32-4.26 11.32-4.23 15.62.04L255.99 240.3 493.12 3.22z'/%3e%3c/svg%3e") no-repeat !important;
    border: none;
    right: 0;
    top: 6px;
    position: absolute;
    width: 13px;
    background-size: 13px !important;
    height: 8px;
    border-bottom: none !important;
    border-left: none !important;
    content: "";
}

.country-option img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
}

.country-option span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

input .react-select__input-container {
    caret-color: transparent;
    min-width: 110px !important;
    cursor: pointer;
    max-height: 18px;
    border: none;
}

input .react-select__input-container:hover {
    border: none;
}

.react-select__indicators {
    padding: 0;
}

.react-select__dropdown-indicator {
    display: none !important;
}

.react-select__single-value {
    margin: 0;
}

.react-select__menu {
    margin: 0;
    position: absolute;
    z-index: 1;
}

.country-option::after .react-select__menu {
    display: none;
}

.country-option .react-select__menu {
    display: flex;
    align-items: center;
    padding: 5px 2px;
    top: 0;
}

.react-select-container {
    max-height: 18px;
    border: none;
}